.section--client_list {
    margin-top: 30rem;
    overflow: hidden;
    padding: 4rem 0;
    border-top: 1px solid var(--large-text-inverse);
    border-bottom: 1px solid var(--large-text-inverse);
    white-space: nowrap;
}

.carousal {
    display: inline-flex;
    gap: 10rem;
    animation: carousal 15s linear infinite;
}

.carousal:hover {
    animation-play-state: paused;
}

.client_logo {
    height: 62px;
    width: auto;
}

@keyframes carousal {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}